@model List<Product>
@{ 
    ViewData["Title"] = "Home Page";
}
<div style="display: flex; gap:10px; flex-wrap: wrap;">
    @foreach (var obj in Model)
    {
        <a asp-action="Details" asp-route-id="@obj.Id" style="text-decoration:none; color:black">
            <div class="card" style="width: 14rem;">
                <img src="@obj.ImageURL" class="card-img-top" alt="@obj.Title" style="height:200px">
                <div class="card-body">
                    <p class="card-text" style="font-weight:500; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                        @obj.Title
                    </p>
                    <p class="card-text" style="color:red">@($"{obj.Price}đ")</p>
                </div>
            </div>
        </a>
    }    
</div>